@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

html, body {
  font-family: 'Roboto' !important;
  color: #3A3C6A !important;
}

.shinybusy, .shinybusy-ready {
 top: 30% !important;
 right: 50% !important;
}


.top-malibu, .top-chardonnay {
 border-top: 0px;
}

.text-malibu, .text-chardonnay {
    color: #9F2241;
}

.panel-header-title {
    font-family: 'Roboto' !important;
}

.panel-header {
 align-items: inherit !important;
 padding: 1rem 1.5rem 0rem 2rem !important;
}

.panel-body {
 margin-top: 0rem !important;
}

.panel-footer {
 padding: 0rem 2rem 1rem !important;
 align-items: center !important;
 justify-content: space-between !important;
 width: 100% !important;
}

.btn-default {
 background: #ffffff !important;
 background: #ffffff !important;
 border: 2px solid #BC955C;
 border-radius: 10px !important;
 color: #435b69;
 float: left;
 font-size: 0.82rem;
 font-weight: 400;
 text-transform: initial;
 letter-spacing: 0;
 margin-bottom: 3px;
}

.basic_active {
  color: #ffffff !important;
  background-color: #BC955C !important;
  border-color: #BC955C !important;
}


.needed {
 margin-bottom: 9px;
 max-width: 100%;
 width: 100% !important;
 text-align: left;
 white-space: normal;
 word-wrap: break-word;
}

#ss-connect-dialog a::before {
background: #BC955C !important;
}


.title-data-select {
  color: #BC955C !important;
  font-family: 'Roboto' !important;
}

.dropdown-action-trigger {
  background-color: #9F2241 !important;
}


.buttons-group,.button-style {
width: 30px !important;
height: 30px !important;
}

.buttons-group .button-style.active-btn {
  filter: brightness(0.5);
  background-color: #BC955C !important;
  background: #BC955C !important;
  color: #BC955C !important;
}


.buttons-group .button-style.active-btn:hover {
  background-color: #BC955C !important;
  background: #BC955C !important;
  color: #BC955C !important;
}

.buttons-group {
 padding: 0px !important;
 display: flex !important;
}

.button-checkmark {
 display: none;
}

.irs-bar {
    border-top: 1px solid #BC955C !important;
    border-bottom: 1px solid #BC955C !important;
    background: #BC955C!important;
}

.irs-from, .irs-to, .irs-single {
    color: #BC955C !important;
}


.js-grid-text-10 {
  visibility: hidden !important;
}

.style_section {
    color: #BC955C !important;
    padding-top: 0rem !important;
    /*margin-top: -2rem !important;*/
} 


.switch-display {
    align-items: center;
    background-color: #CBD8D8;
}

.switch-indicator {
    background-color: #ffffff;
    border: 2px solid #CBD8D8;
}


.switch-state:checked + .switch-display .switch-indicator {
    border-color: #BC955C !important;
}

.switch-state:checked + .switch-display {
    background-color: #BC955C !important;
    color: #ffffff;
}

.switch-styles {
    display: inline-flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
}


/*
scroll STYLES
*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff !important;
}

::-webkit-scrollbar-thumb {
  background: #6a6767 !important;
}

::-webkit-scrollbar:focus {
  overflow: scroll;
  display: block;
  background: #6a6767 !important;
}

.first-container {
 width: 350px !important;
}

.selectize-control.single .selectize-input {
    cursor: pointer;
    border: 1px solid #3A3C6A !important;
    border-radius: 10px !important;
    color: #3A3C6A !important;
}

.selectize-control.multi .selectize-input.has-items {
  cursor: pointer;
  border: 1px solid #3A3C6A !important;
  border-radius: 10px !important;
  color: #3A3C6A !important; 
}


.shiny-html-output {
  font-weight: 400 !important;
}

#load_parmesan_ui_1-output_aggId {
 border-bottom: 1px solid #cccccc !important;
 margin-bottom: 7% !important;
}

.form-group,.radio {
  margin-bottom: 3px !important;
}

.dataSummary {
  display: flex;
  color: #691c32;
  margin-bottom: 2%;
  margin-top: 1%;
  width: 450px !important;
}

.infoAll {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: left;
  font: normal normal bold 23px Roboto;
  letter-spacing: 0px;
}

.infoAdd {
 text-align: center;
 font: normal normal normal 11px Roboto;
 letter-spacing: 0px;
 color: #691C32;
 opacity: 1;
}

#info_footer_ui_1-descripcion_modal, #info_footer_ui_1-dicc_modal, 
#info_footer_ui_1-recursos_modal {
width: 103px;
 /* UI Properties */
 border: 2px solid #235B4E !important;
 border-radius: 17px !important;
 color: #235B4E !important;
 opacity: 1;
}

/* MODAL STYLES */

.modal-wrapper {
  position: absolute;
    /* left: 100px !important; */
  transform: initial !important;
  left: auto !important;
  top: 14% !important;
  right: 3% !important;
  width: 370px;
  height: 73% !important;
  background: var(--unnamed-color-fefefe) 0% 0% no-repeat padding-box;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
}

.modal {
    background-color: transparent !important;
}

p {
  margin-bottom: 11px !important;
  font-weight: 100 !important;
  font-size: 14px !important;
}



/* COLORS STYLEES */

.sp-preview-inner, .sp-alpha-inner, .sp-thumb-inner {
  border-radius: 0px !important;
}

.sp-preview {
  border-radius: 0px !important;
}

.input-spectrum-add-color {
    min-width: 28px !important;
    width: 28px !important;
    height: 28px !important;
    border-radius: 0px !important;
}


.sp-choose {
    background-color: #9F2241 !important;
}

.sp-container button {
   font-family: 'Roboto' !important;
}

.sp-cancel {
  font-family: 'Roboto' !important;
}


.index-buttons {
  display: block !important;
  padding-right: 10px !important;
}


.index-btn {
  text-align: left !important;
  font-size: 11px !important;
  color: #A7A7A7 !important;
  background: #F6F6F6 0% 0% no-repeat padding-box !important;
  border-radius: 24px !important;
  border: 0px !important;
  padding: 5px 10px !important;
}

.index-label {
  color: #9F2241 !important;
  opacity: 0.55 !important;
  font-size: 12px !important;
  font-family: inherit !important;
}

.index-close {
  color: #9f2241 !important;
  /*position: absolute !important;
  margin-top: -8px !important;
  margin-left: 6px !important;*/
}

.shiny-bound-input, .shinyjs-resettable {
  margin-bottom: 10px;
}


.leaflet-control-attribution {
 display: none !important;
}
