@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

html, body {
  font-family: 'Roboto' !important;
  color: #435b69 !important;
}

a {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 11px;
 color: #9E9E9E;
 line-height: 13px;
 letter-spacing: -0.1px;
}

.shinybusy, .shinybusy-ready {
 top: 30% !important;
 right: 50% !important;
}


.shiny-options-group {
  border: 4px solid #BC955C;
  padding: 7px;
  margin-bottom: 8px !important;
  max-height: 250px !important;
  overflow: auto !important;
}

.control-label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}

.control-label#load_parmesan_ui_1-desagregacionId-label,#load_parmesan_ui_1-mapType-label,
#load_parmesan_ui_1-aggId-label{
  background: #BC955C;
  border-radius: 4px;
  padding: 7px;
  margin-bottom: -4px;
  font-weight: 700;
  font-size: 13.1538px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}


.top-malibu, .top-chardonnay {
 border-top: 0px;
}

.text-malibu, .text-chardonnay {
    color: #9F2241;
}

.panel-header-title {
    font-family: 'Roboto' !important;
}

.panel-header {
 align-items: inherit !important;
 padding: 1rem 2rem 0rem 1rem !important;
}

#azul_head {
  display: none !important;
}

.panel-body {
 margin-top: 0rem !important;
}

.panel-footer {
 padding: 0rem 2rem 1rem !important;
 align-items: center !important;
 justify-content: space-between !important;
 width: 100% !important;
}

.btn-default {
 background: #ffffff !important;
 background: #ffffff !important;
 border: 2px solid #BC955C;
 border-radius: 10px !important;
 color: #435b69;
 float: left;
 font-size: 0.82rem;
 font-weight: 400;
 text-transform: initial;
 letter-spacing: 0;
 margin-bottom: 3px;
}

.basic_active {
  color: #ffffff !important;
  background-color: #BC955C !important;
  border-color: #BC955C !important;
}


.needed {
 margin-bottom: 9px;
 max-width: 100%;
 width: 100% !important;
 text-align: left;
 white-space: normal;
 word-wrap: break-word;
}

#ss-connect-dialog a::before {
background: #BC955C !important;
}


.title-data-select {
  color: #BC955C !important;
  font-family: 'Roboto' !important;
}

.dropdown-action-trigger {
  background-color: #235B4E !important;
}

 /*
.button-style {
 padding: 0px !important;
 display: flex !important;
 background: #FFFFFF !important;
 border-radius: 4.92px !important;
 -webkit-box-shadow: 1px 5px 7px 3px rgb(0 0 0 / 10%) !important;
 box-shadow: 1px 5px 7px 3px rgb(0 0 0 / 10%) !important;
 width: 30px !important;
 height: 30px !important;
}
*/

.buttons-group {
  padding: 0px 0px 10px !important;
}


.button-container {
  border-radius: 4.62px !important;
}

.buttons-group .button-container {
 height: 45px !important;
 width: 45px !important;
}

.buttons-group .button-style.active-btn {
  /*filter: brightness(0.5);*/
  background-color: #DDC9A3 !important;
 /*background: #BC955C !important;
  color: #BC955C !important;*/
}

.buttons-group .button-style {
  background: #4A4E4E !important; 
}

.buttons-group .button-style .image-style {
  filter: initial !important;
  width: auto !important;
}
    

.buttons-group .button-style.active-btn:hover {
  background-color: #DDC9A3 !important;
  background: #DDC9A3 !important;
  color: #DDC9A3 !important;
}



.button-checkmark {
 display: none;
}

.irs-bar {
    border-top: 1px solid #BC955C !important;
    border-bottom: 1px solid #BC955C !important;
    background: #BC955C!important;
}

.irs-from, .irs-to, .irs-single {
    color: #BC955C !important;
}


.js-grid-text-10 {
  visibility: hidden !important;
}

.style_section {
    color: #BC955C !important;
    padding-top: 0rem !important;
    /*margin-top: -2rem !important;*/
} 


.switch-display {
    align-items: center;
    background-color: #CBD8D8;
}

.switch-indicator {
    background-color: #ffffff;
    border: 2px solid #CBD8D8;
}


.switch-state:checked + .switch-display .switch-indicator {
    border-color: #BC955C !important;
}

.switch-state:checked + .switch-display {
    background-color: #BC955C !important;
    color: #ffffff;
}

.switch-styles {
    display: inline-flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
}


/*
scroll STYLES
*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff !important;
}

::-webkit-scrollbar-thumb {
  background: #6a6767 !important;
}

::-webkit-scrollbar:focus {
  overflow: scroll;
  display: block;
  background: #6a6767 !important;
}

.first-container {
 width: 480px !important;
}

.selectize-control.single .selectize-input, #load_parmesan_ui_1-anioId {
    cursor: pointer;
    background: #FFFFFF;
    border: 1.38462px solid rgba(104, 103, 103, 0.15) !important;
    box-sizing: border-box;
    border-radius: 5.53846px !important;
    font-family: 'Roboto' !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
}m

.selectize-control.multi .selectize-input.has-items {
  cursor: pointer;
  border: 1px solid #3A3C6A !important;
  border-radius: 10px !important;
  color: #3A3C6A !important; 
}


.shiny-html-output {
  font-weight: 400 !important;
}

#load_parmesan_ui_1-output_aggId {
 margin-bottom: 10px !important;
}

#load_parmesan_ui_1-output_desagregacionId {
 margin-bottom: 10px !important;
}

#load_parmesan_ui_1-mapType {
 margin-top: 10px;
}

#load_parmesan_ui_1-output_colorsId {
  margin-top: 10px;
  margin-bottom: 10px;
}


.form-group,.radio {
  margin-bottom: 3px !important;
}

.dataSummary {
  display: flex;
  color: #A98858;
  margin: 2px 70px 2px 70px;
  width: 450px !important;
}

.infoAll {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: left;
  font: normal normal bold 23px Roboto;
  letter-spacing: 0px;
}

.infoAdd {
 text-align: center;
 font: normal normal normal 11px Roboto;
 letter-spacing: 0px;
 color: #691C32;
 opacity: 1;
}

#info_footer_ui_1-descripcion_modal, #info_footer_ui_1-dicc_modal, 
#info_footer_ui_1-recursos_modal {
 /* UI Properties */
  width: 100px;
  border: 1px solid #235B4E !important;
  border-radius: 10.011px !important;
  color: #235B4E !important;
  font-weight: 700;
  font-size: 8.75965px;
  line-height: 13px;
  padding: 2px !important;
}

/* MODAL STYLES */

.modal-wrapper {
  position: absolute;
    /* left: 100px !important; */
  transform: initial !important;
  left: auto !important;
  top: 14% !important;
  right: 3% !important;
  width: 370px;
  height: 73% !important;
  background: var(--unnamed-color-fefefe) 0% 0% no-repeat padding-box;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
}

.modal {
    background-color: transparent !important;
}

p {
  margin-bottom: 11px !important;
  font-weight: 100 !important;
  font-size: 14px !important;
}



/* COLORS STYLEES */

.sp-preview-inner, .sp-alpha-inner, .sp-thumb-inner {
  border-radius: 0px !important;
}

.sp-preview {
  border-radius: 0px !important;
}

.input-spectrum-add-color {
    min-width: 28px !important;
    width: 28px !important;
    height: 28px !important;
    border-radius: 0px !important;
}


.sp-choose {
    background-color: #9F2241 !important;
}

.sp-container button {
   font-family: 'Roboto' !important;
}

.sp-cancel {
  font-family: 'Roboto' !important;
}

#labelIndex {
  margin: 10px 0 3px 0;
  font-size: 12px;
  font-weight: 700;
}


.index-buttons {
  display: block !important;
  padding-right: 10px !important;
}

.content-index {
  display: flex;
  text-align: center;
  align-items: center;
}

.input-group {
  flex-direction: initial !important;
  margin-bottom: 7px;
}

#load_parmesan_ui_1-anioId_button {
  background: #235B4E !important;
  cursor: initial !important;
  padding: 6px 7px !important;
}


.index-btn {
  text-align: left !important;
  font-size: 11px !important;
  color: #545454 !important;
  background: #F0F0F0 !important;
  border-radius: 16px !important;
  border: 0px !important;
  padding: 5px 10px !important;
}

.index-label {
  opacity: 0.55 !important;
  font-size: 12px !important;
  font-family: inherit !important;
}

.index-choices {
  margin-left: 5px !important;
  margin-right: 5px !important;
}



.leaflet-control-attribution {
 display: none !important;
}


input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        background-color: #BC955C;
        content: '';
        display: inline-block;
        visibility: visible;
}


.leaflet-top, .leaflet-right {
  z-index: 0 !important;
}


.dataTables_scrollHead {
  overflow: auto !important; 
}


  

